# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/raw/receipts/*
data/processed/images/*
data/ocr_outputs/*
data/extracted_results/*
database/*.db
data/ground_truth/*
data/dataset_manifest.csv
data/evaluation/*

# Keep folder structure
!data/raw/receipts/.gitkeep
!data/processed/images/.gitkeep
!data/ocr_outputs/.gitkeep
!data/extracted_results/.gitkeep
!data/sample/.gitkeep
!data/ground_truth/.gitkeep
!data/evaluation/.gitkeep

# Archives
*.zip

# Logs
*.log

# Environment
.env

# Streamlit local temp files
.tmp_streamlit/